<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Connector" providerName="System.Data.SqlClient"
         connectionString="Data Source=194.171.20.101;Initial Catalog=RBS1617S_db04;User ID=RBS1617S_grp04;Password=wYKnqST2g2"/>
  </connectionStrings>
</configuration>